In [113]:
import pandas as pd
import json
import requests
import time
from tqdm import tqdm

import mariadb
from sqlalchemy import create_engine

def make_binary(x):
    if x!=0:
        return 1
    return 0

In [114]:
def make_jongna_data(query,sortStartDate,sortEndDate):
    print(sortStartDate,sortEndDate)
    url = f'https://search-api.joongna.com/v25/search/product'
    param = {
        "filter":{
            "dateFilterParameter":{
                "sortEndDate":f"{sortEndDate}",
                "sortStartDate":f"{sortStartDate}"
            },
            "flawedYn":0,
            "fullPackageYn":0,
            "limitedEditionYn":0,
    #         "maxPrice":2000000000,
    #         "minPrice":2,
            "tradeType":0
        },
        "productFilter":"ALL",
        "productStates":[
            0,
            1,
            99
        ],
        "searchQuantity":10000,
        "osType":2,
        "searchWord":f'{query}',
        "sort":"RECENT_SORT",
    }
    response= requests.post(url,json=(param))
    data=response.json()['data']
    col=['articleUrl',
    'articleSeq',
    'articleRegDate',
    'price',
    'title',
    'state'] # 0 1 3]
    # 데이터프레임 화 , 중복 제거
    df=pd.DataFrame(data['items']).drop_duplicates('title')[col]
    # nan 제거
    df=df.dropna()
    # is_sold 처리
    df.rename(columns  = {'state': 'is_sold'}, inplace = True)
    df['is_sold'] = df['is_sold'].map(lambda x : make_binary(x))
    # seq int화
    df['articleSeq']=df['articleSeq'].astype('int')
    # 매입 게시물 제거
    buy = df[df['title'].str.contains('삽니|매입|사요', na=False)]
    only_sale=pd.merge(df, buy, how='outer', indicator = True).query('_merge == "left_only"').drop(columns=['_merge'])
    # 가격 25%~75% 사이만 사용
    min_price=only_sale['price'].describe().loc['25%']
    max_price=only_sale['price'].describe().loc['75%']
    q = "(price >= @min_price) and (price <= @max_price)"
    final = only_sale.query(q)
    #is_mint
    mint_list=list(final[final['title'].str.contains("s급|S급|미개봉|민트급|새상품")].index)
    final['is_mint']=0
    final.loc[mint_list,'is_mint']=1
    return final

In [115]:
#2022년 1월~5월 데이터
# query="맥북 m1 프로 16인치"
query="문화상품권"
final= make_jongna_data(query,"2022-05-14" ,"2022-05-20")
day_list=[(5,13),(5,7)]
#           ,(4,30)]
#           ,(4,23),(4,16),(4,9),(3,31),(3,24),(3,17),(3,10),(2,28),(2,21)
# ,(2,14),(2,7),(1,31),(1,24),(1,17),(1,10)]
for mon,end_d in (day_list):
    day=end_d-6
    if day<10:
        day=f"0{day}"
    if end_d <10:
        end_d=f"0{end_d}"
    final=pd.concat([final,make_jongna_data(query,f"2022-0{mon}-{day}" ,f"2022-0{mon}-{end_d}")])

2022-05-14 2022-05-20

<ipython-input-114-d61e746b689e>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['is_mint']=0
C:\Users\vislab\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

2022-05-07 2022-05-13

<ipython-input-114-d61e746b689e>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['is_mint']=0
C:\Users\vislab\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

2022-05-01 2022-05-07

<ipython-input-114-d61e746b689e>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['is_mint']=0
C:\Users\vislab\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

2022-04-24 2022-04-30

<ipython-input-114-d61e746b689e>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['is_mint']=0
C:\Users\vislab\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [116]:
# 지역, 이미지 처리
detail_list=[]
for seq in tqdm(final[final['is_sold']==0]['articleSeq']):
    t=time.time()
    detail_url=f'https://apis.naver.com/cafe-web/cafe-articleapi/v2/cafes/10050146/articles/{seq}'
    response=requests.get(detail_url)

    if response.status_code!=200:
        continue
    detail=response.json()
    city=detail['result']['articleRegion']['regionName1']
    state=detail['result']['articleRegion']['regionName2']
    img=detail['result']['saleInfo']['image']['url']
    detail_list.append([seq,city,state,img])

detail_df=pd.DataFrame(detail_list,columns=["articleSeq",'city','state','product_image'])

total=pd.merge(final,detail_df, how='outer',on='articleSeq')
total=total.fillna("")
total

100%|████████████████████████████████████████████████████████████████████████████████| 501/501 [02:20<00:00,  3.56it/s]

,articleUrl,articleSeq,articleRegDate,price,title,is_sold,is_mint,city,state,product_image
0,https://m.cafe.naver.com/ArticleRead.nhn?clubi...,918142964,2022-05-20 13:27:22,93000,"티머니 91%/컬쳐/문상/해피머니/도서문화/페이코/캐시비/SSG PAY,쓱페이/위메...",0,0,,,https://cafeptthumb-phinf.pstatic.net/MjAyMjA1...
1,https://m.cafe.naver.com/ArticleRead.nhn?clubi...,918141273,2022-05-20 13:19:11,93000,"[정식사업자] 신세계상품권,롯데백화점상품권/컬쳐/문상/해피머니/도서문화/페이코/캐시...",0,0,,,https://cafeptthumb-phinf.pstatic.net/MjAyMjA1...
2,https://m.cafe.naver.com/ArticleRead.nhn?clubi...,918139452,2022-05-20 13:10:17,47500,문화상품권 컬처랜드 5만원권 판매,0,0,,,https://cafeptthumb-phinf.pstatic.net/MjAyMjA1...
3,https://m.cafe.naver.com/ArticleRead.nhn?clubi...,918139314,2022-05-20 13:09:33,18000,문상 2만원 팝니다,0,0,,,https://cafeptthumb-phinf.pstatic.net/MjAyMjA1...
4,https://m.cafe.naver.com/ArticleRead.nhn?clubi...,918136914,2022-05-20 12:58:03,9500,[신뢰도100%] 컬쳐랜드 모바일 문화상품권(핀번호) 판매 !,0,0,,,https://cafeptthumb-phinf.pstatic.net/MjAyMjA1...
...,...,...,...,...,...,...,...,...,...,...
498,https://m.cafe.naver.com/ArticleRead.nhn?clubi...,912707253,2022-04-24 04:06:41,10000,문상 15000원 10000원에팝니다,0,0,,,
499,https://m.cafe.naver.com/ArticleRead.nhn?clubi...,912699951,2022-04-24 01:53:07,18500,컬쳐랜드 문화상품권 2만원권 판매,0,0,,,
500,https://m.cafe.naver.com/ArticleRead.nhn?clubi...,912696727,2022-04-24 01:11:18,44000,문화상품권 5만원권,0,0,,,
501,https://m.cafe.naver.com/ArticleRead.nhn?clubi...,912695425,2022-04-24 00:58:33,27000,문화상품권 3만원 일괄,0,0,,,
502,https://m.cafe.naver.com/ArticleRead.nhn?clubi...,912691941,2022-04-24 00:28:08,46000,문화상품권 5만원 92% 46000원 팝니다,0,0,,,https://cafeptthumb-phinf.pstatic.net/MjAyMjA0...

In [110]:
# 스프링서버로부터 post의 크기 받아왔다고 가정
size=8803
item_id=2
# post size에 기반한 id열 생성
total['id']=range(size+2,size+2+len(total))

#post 데이터 만들기

# item_id ,location_id , market_price_id, platform_id 바꾸는 로직 추가 필요
post_columns=['id','articleSeq','articleUrl','is_sold','is_mint','articleRegDate','title','product_image','city','state'] #platform추가
post=total[post_columns].copy()
post['platform']='Jongo Nara'
post.rename(columns  = {
    'id' : 'post_id',
    'articleSeq' : 'pid',
    'articleUrl':'url',
    'articleRegDate':'upload_date'
}, inplace = True)
post['item_id']=item_id
# post['location_id']=15 # 지역 데이터 앞에 꺼만 뺴오기 수원시 권선구 -> 수원시
post['platform_id']=11 #중고나라가 11이었음


post.drop(['city','state','platform'],axis=1,inplace=True)



price_columns=['id','price']
price=total[price_columns].copy()
price.rename(columns={
    'id':"market_price_id"
},inplace=True)
price['post_id']=price['market_price_id']
price['item_id']=item_id

In [111]:
user='developer', 
password='1234', 
database='dev', 
host='3.36.254.182',
port=13306

conn  = mariadb.connect(
    user='developer', 
    password='1234', 
    database='dev', 
    host='3.36.254.182',
    port=13306
)

# 위 커넥션 정보와 동일하게 입력
engine = create_engine(f"mysql+pymysql://developer:1234@3.36.254.182:13306/dev")
data=(item_id,None,query)

sql = """
INSERT INTO item (
    item_id,
    latest_search_time,
    name
) VALUES (
    ?, ?, ?
)
"""
cs = conn.cursor()
cs.execute(sql,data)
conn.commit()

In [112]:
t=time.time()
post.to_sql('post',engine,if_exists='append',index=False,method='multi')
price.to_sql('market_price',engine,if_exists='append',index=False,method='multi')
print(time.time()-t)

1.9360778331756592

In [102]:
query="문화상품권"

0.26453208923339844

In [ ]:

final= make_jongna_data(query,"2022-05-14" ,"2022-05-20")
detail_list=[]
for seq in tqdm(final[final['is_sold']==0]['articleSeq']):
    t=time.time()
    detail_url=f'https://apis.naver.com/cafe-web/cafe-articleapi/v2/cafes/10050146/articles/{seq}'
    response=requests.get(detail_url)

    if response.status_code!=200:
        continue
    detail=response.json()
    city=detail['result']['articleRegion']['regionName1']
    state=detail['result']['articleRegion']['regionName2']
    img=detail['result']['saleInfo']['image']['url']
    detail_list.append([seq,city,state,img])

detail_df=pd.DataFrame(detail_list,columns=["articleSeq",'city','state','product_image'])

total=pd.merge(final,detail_df, how='outer',on='articleSeq')
total=total.fillna("")
# 스프링서버로부터 post의 크기 받아왔다고 가정
size=8803
item_id=2
# post size에 기반한 id열 생성
total['id']=range(size+2,size+2+len(total))

#post 데이터 만들기

# item_id ,location_id , market_price_id, platform_id 바꾸는 로직 추가 필요
post_columns=['id','articleSeq','articleUrl','is_sold','is_mint','articleRegDate','title','product_image','city','state'] #platform추가
post=total[post_columns].copy()
post['platform']='Jongo Nara'
post.rename(columns  = {
    'id' : 'post_id',
    'articleSeq' : 'pid',
    'articleUrl':'url',
    'articleRegDate':'upload_date'
}, inplace = True)
post['item_id']=item_id
# post['location_id']=15 # 지역 데이터 앞에 꺼만 뺴오기 수원시 권선구 -> 수원시
post['platform_id']=11 #중고나라가 11이었음


post.drop(['city','state','platform'],axis=1,inplace=True)



price_columns=['id','price']
price=total[price_columns].copy()
price.rename(columns={
    'id':"market_price_id"
},inplace=True)
price['post_id']=price['market_price_id']
price['item_id']=item_id

In [ ]:
user='developer', 
password='1234', 
database='dev', 
host='3.36.254.182',
port=13306

conn  = mariadb.connect(
    user='developer', 
    password='1234', 
    database='dev', 
    host='3.36.254.182',
    port=13306
)

# 위 커넥션 정보와 동일하게 입력
engine = create_engine(f"mysql+pymysql://developer:1234@3.36.254.182:13306/dev")
data=(item_id,None,query)

sql = """
INSERT INTO item (
    item_id,
    latest_search_time,
    name
) VALUES (
    ?, ?, ?
)
"""
cs = conn.cursor()
cs.execute(sql,data)
conn.commit()

In [ ]:
t=time.time()
post.to_sql('post',engine,if_exists='append',index=False,method='multi')
price.to_sql('market_price',engine,if_exists='append',index=False,method='multi')
print(time.time()-t)